.env

deps/
tts/

.uuid
.cloud
.storage
.ios.conf
.tradfri_psk.conf
.homekit.state
.spotify-token-cache
.HA_VERSION
home-assistant.log
home-assistant_v2.db

secrets.yaml
known_devices.yaml
entity_registry.yaml

__pycache__

www/
themes/
custom_components/
.pip_progress
